<ion-toolbar>
  <ion-title>FAQs</ion-title>
  <ion-buttons slot="start">
    <ion-menu-button menu="main-menu"></ion-menu-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>

  <div class="box">
    <ion-accordion-group>
      <ion-accordion value="question">
        <ion-item slot="header">
          <ion-label class="ion-padding-start">Is it okay to get vaccinated if I am <p>pregnant?</p></ion-label>
        </ion-item>
        <ion-list slot="content">
          <ion-label>-Yes, COVID-19 vaccination is recommended for people who are pregnant, breastfeeding, trying to get pregnant now, or who might become pregnant in the future. You might want to have a conversation with your healthcare provider about COVID-19 vaccination.</ion-label>
        </ion-list>
      </ion-accordion>
    </ion-accordion-group>
  
    <ion-accordion-group>
      <ion-accordion value="question">
        <ion-item slot="header">
          <ion-label class="ion-padding-start">Do I need booster shot?</ion-label>
        </ion-item>
        <ion-list slot="content">
          <ion-label>-Everyone ages 16 years and older can get a booster shot after they have completed their COVID-19 vaccine primary series. People ages 16 to 17 years old can get the Pfizer-BioNTech COVID-19 booster shot.<p>People ages 18 years and older have the option to either get the same COVID-19 vaccine product as their primary series, or to get a different COVID-19 vaccine. People may have a preference for the vaccine type that they originally received, or they may prefer to get a different booster.</p></ion-label>
        </ion-list>
      </ion-accordion>    
    </ion-accordion-group>

    <ion-accordion-group>
      <ion-accordion value="question">
        <ion-item slot="header">
          <ion-label class="ion-padding-start">How can I get a new COVID-19 vaccination<p> card?</p></ion-label>
        </ion-item>
        <ion-list slot="content">
          <ion-label>-If you need a new vaccination card, contact the vaccination provider site where you received your vaccine. Your provider should give you a new card with up-to-date information about the vaccinations you have received.</ion-label>
        </ion-list>
      </ion-accordion>    
    </ion-accordion-group>

    <ion-accordion-group>
      <ion-accordion value="question">
        <ion-item slot="header">
          <ion-label class="ion-padding-start">How can I protect myself from COVID-19?</ion-label>
        </ion-item>
        <ion-list slot="content">
          <ion-label>-Get Vaccinated, Wear a mask, Stay 6 feet away from others, Avoid crowds and poorly ventilated spaces, Test to prevent spread to others, Wash your hands often, Cover coughs and sneezes, Clean and disinfect and Monitor your health daily.</ion-label>
        </ion-list>
      </ion-accordion>    
    </ion-accordion-group>

    <ion-accordion-group>
      <ion-accordion value="question">
        <ion-item slot="header">
          <ion-label class="ion-padding-start">What are the symptoms and complications<p> that COVID-19 can cause?</p></ion-label>
        </ion-item>
        <ion-list slot="content">
          <ion-label>-People with COVID-19 have reported a wide range of symptoms - from mild symptoms to severe illness. Symptoms may appear 2-14 days after exposure to the virus. If you have fever, cough, or other symptoms, you might have COVID-19.</ion-label>
        </ion-list>
      </ion-accordion>    
    </ion-accordion-group>
  </div>
</ion-content>
