<ion-toolbar>
  <ion-title>About Us</ion-title>
  <ion-buttons slot="start">
    <ion-menu-button menu="main-menu"></ion-menu-button>
  </ion-buttons>
</ion-toolbar>

<ion-content [fullscreen]="true">
  
  <div class="icon-box">
    <div class="icon">
      <img src="assets/images/icon-logo.png">
    </div>
  </div>
  <div id="container">
  <ion-card color="medium">
    <ion-card-content>
      <h1>CONTACT US</h1>
      <div class="box">
        <p>Christian Edrick Figarido</p>
        <p>+63949828058</p>
        <p>201911404@gordoncollege.edu.ph</p>
      </div>
      <div class="box">
        <p>Alexander Reyes</p>
        <p>+639206278440</p>
        <p>201911600@gordoncollege.edu.ph</p>
      </div>
      <div class="box">
        <p>Bernie Nicolas</p>
        <p>+639464426242</p>
        <p>201910123@gordoncollege.edu.ph</p>
      </div>
      <div class="box">
        <p>Gerard Tamayo</p>
        <p>+639387986450</p>
        <p>201910441@gordoncollege.edu.ph</p>
      </div>
      <div class="box">
        <p>Arvic Marc Reyes</p>
        <p>+639994404512</p>
        <p>201910593@gordoncollege.edu.ph</p>
      </div>
    </ion-card-content>
  </ion-card>
  </div>
</ion-content>

